<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="${require('../src/images/favicons/apple-touch-icon.png')}" />
    <link rel="icon" type="image/png" sizes="32x32" href="${require('../src/images/favicons/favicon-32x32.png')}" />
    <link rel="icon" type="image/png" sizes="16x16" href="${require('../src/images/favicons/favicon-16x16.png')}" />
    <!-- Set fonts etc in the link below -->
    <link
      rel="stylesheet preload prefetch"
      href=""
      as="style"
      type="text/css"
      crossorigin
    />
    <title>React Starter Project</title>
  </head>
  <body>
    <div id="react_starter"></div>
  </body>
</html>
